.button {
  background-color: $color-primary;
  color: $color-text-dark;
  font-family: $font-primary;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 18px 48px;
  border-radius: 100px;
}
