.header {
  background: #222;
  padding: 15px 0 17px;

  &__brand {
    display: inline-block;
    width: 50%;
    max-width: 144px;
    height: 21px;
    background-image: url('../images/logo-endless.svg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
  }
}
