.header {
  background: #222;
  padding: 30px 0 34px;
  margin-bottom: 1.45rem;

  &__brand {
    display: inline-block;
    // width: 25%;
    min-height: 40px;
    // background-image: url('../images/logo-endless.svg');
    // background-position: left;
    // background-repeat: no-repeat;
    // background-size: contain;
    border: 0;
  }
}
