.hero {
  position: relative;
  background-color: $color-neutral-dark;
  color: $color-text-light;
  padding: 300px 0 80px;

  &__background {
    @include background-cover-image();

    background-image: url('../images/photo-couch.jpg');
    background-image: image-set('../images/photo-couch.jpg' 1x,
                                '../images/photo-couch_2x.jpg' 2x);
    background-position: center;
    background-repeat: no-repeat;
  }

  &__text {
    position: relative;
    z-index: 10;
  }
}
