body * {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-neutral-white;
  color: $color-text-dark;
  font-family: $font-primary;
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

a {
  color: $color-neutral-dark;
  transition: all $link-hover-time ease-in-out;

  &:hover {
    color: $color-primary;
  }
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  &.list--unstyled,
  &.list--inline {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &.list--inline {
    li {
      display: inline-block;
    }
  }
}

/** Text meant only for screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  color: #000;
}
