.h1 {
  font-family: "Lato";
  font-size: 110px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 130px;
  // filter: drop-shadow(0px 1px 20px #000000);
}

.h2 {
  font-family: "Lato";
  font-size: 48px;
  letter-spacing: 0px;
  line-height: 54px;
  // filter: drop-shadow(0px 1px 20px #000000);
}
