h1, h2, h3, h4, h5, h6 {
  font-family: $font-primary;
}

h1:not([class]),
.h1 {
  @include remify('font-size', 40px);

  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.2;
  margin-bottom: 24px;

  @media (min-width: $breakpoint-md) {
    @include remify('font-size', 48px);
  }

  @media (min-width: $breakpoint-lg) {
    @include remify('font-size', 55px);
  }
}

h2:not([class]),
.h2 {
  @include remify('font-size', 24px);

  letter-spacing: 0.05em;

  @media (min-width: $breakpoint-md) {
    @include remify('font-size', 31px);
  }
}

h3:not([class]),
.h3 {
  @include remify('font-size', 21px);

  letter-spacing: 0.01em;
  line-height: 1.125;

  @media (min-width: $breakpoint-md) {
    @include remify('font-size', 24px);
  }
}

h4:not([class]),
.h4 {
  @include remify('font-size', 16px);

  font-weight: 700;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}
