/** Colors */
$color-brand:             #4fe3c1; // blue-green
$color-primary:           #4fe3c1; // blue-green

$color-neutral-black:     #000;
$color-neutral-dark:      #222;
$color-neutral-white:     #fff;

/** Text Colors */
$color-text-dark:         #2f3237;
$color-text-light:        $color-neutral-white;

/** Animation Timings */
$link-hover-time:       0.2s;

/** Fonts */
$font-web-safe-sans:    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-web-safe-serif:   Georgia, serif;
$font-primary:          'lato', $font-web-safe-sans;

/** Breakpoints */
$breakpoint-sm: 0px;
$breakpoint-md: 640px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;

/** Layout  */
$grid-width: 1130px;
$column-gap: 20px;
$spacer: 16px;
